<div class="box">
    <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
      <div class="field factura">
        <label class="label">Factura No</label>
        <div class="control">
          <input class="input" type="text" placeholder="001-2010" formControlName="fNumero">
        </div>
        <p *ngIf="submitted && entryForm.controls.fNumero.errors" class="help is-danger">Campo obligatorio</p>
      </div>

      <div class="field fecha">
        <label class="label">Fecha Factura</label>
        <div class="control">
          <input class="input" type="text" placeholder="dd/MM/yyyy" formControlName="fFecha">
        </div>
        <p *ngIf="submitted && entryForm.controls.fFecha.errors" class="help is-danger">Campo obligatorio</p>
      </div>

      <div class="field importe">
        <label class="label">Importe Neto (Sin IVA)</label>
        <div class="control">
          <input class="input" type="text" placeholder="Importe Factura" formControlName="fImporte">
        </div>
        <p *ngIf="submitted && entryForm.controls.fImporte.errors" class="help is-danger">Campo obligatorio</p>
      </div>

      <div class="field vencimiento">
        <label class="label">Vencimiento (dias)</label>
        <div class="control">
          <input class="input" type="text" placeholder="30 | 60 | 90 dias" formControlName="fVencimiento">
        </div>
        <p *ngIf="submitted && entryForm.controls.fVencimiento.errors" class="help is-danger">Campo obligatorio</p>
      </div>

      <div class="field iva">
        <label class="label">Factura Sin Iva</label>
        <label class="checkbox">
            <input type="checkbox" formControlName="fIva">
            Sin IVA
        </label>
      </div>

      <div class="field">
        <label class="label">Notas</label>
        <textarea class="textarea" rows="5" formControlName="fNotas"></textarea>
      </div>

      <div class="control">
        <button class="button is-primary">Enviar</button>
      </div>
    </form>
</div>