
<div class="columns">
  <div class="column is-4 buttons">
    <a class="button is-small" (click)="quarterChange(-1)" [class.is-hidden]="quarterIndex === 0"	>
      <span class="icon is-small">
        <i class="fas fa-caret-left"></i>
      </span>
    </a>
    <span class="has-text-weight-bold">{{quarterActual.text}}</span>&nbsp;
    <a class="button is-small" (click)="quarterChange(1)" [class.is-hidden]="quarterIndex === quarters.length - 1">
      <span class="icon is-small">
        <i class="fas fa-caret-right"></i>
      </span>
    </a>
  </div>
  <div class="column is-4 is-offset-4 has-text-right buttons">
    <a class="button is-primary" routerLink="/entry/new">Nueva Entrada</a>
    <a class="button is-primary" routerLink="/expense/new">Nuevo Gasto</a>
  </div>
</div>
<div class="columns">
  <div class="column is-full">
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <th>Factura No</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Base</th>
        <th>IVA</th>
        <th>Importe IVA</th>
        <th>Importe IRPF</th>
        <th>Total Factura</th>
        <th></th>
      </thead>
      <tr *ngFor="let g of gastos; let i = index;">
        <td>{{g.numero}}</td>
        <td>{{g.concepto}}</td>
        <td>{{g.fecha}}</td>
        <td>{{g.importe}}€</td>
        <td>{{g.iva}}%</td>
        <td>{{g.importeIVA}}€</td>
        <td></td>
        <td>{{g.importeFactura}}€</td>
        <td class="has-text-right">
          <a class="button is-danger is-small" (click)="removeGasto(g)">
            <i class="fas fa-times"></i>
          </a>
        </td>
      </tr>
      <tr *ngFor="let f of facturas; let i = index;">
        <td>{{f.numero}}</td>
        <td>{{f.cliente ? f.cliente.name : ''}}</td>
        <td>{{f.fecha}}</td>
        <td>{{f.importe}}€</td>
        <td>{{f.iva}}%</td>
        <td>{{f.importeIVA}}€</td>
        <td>{{f.importeIRPF}}€</td>
        <td>{{f.importeFactura}}€</td>
        <td class="has-text-right">
          <a class="button is-danger is-small" (click)="removeFactura(f)">
            <i class="fas fa-times"></i>
          </a>
        </td>
      </tr>
      <tr>
        <th colspan="3"></th>
        <th>{{totales.base}}€</th>
        <th></th>
        <th>{{totales.iva}}€</th>
        <th>{{totales.irpf}}€</th>
        <th>{{totales.total}}€</th>
        <th></th>
      </tr>
    </table>
  </div>
</div>
