
<div class="columns">
    <div class="column is-4 is-offset-8">
      <button class="button is-primary" (click)="addEntry()">Nueva Entrada</button>
    </div>
  </div>
<div class="columns">
  <div class="column is-full">
    <table class="table is-hoverable is-fullwidth">
      <tr *ngFor="let f of facturas">
        <td>{{f.numero}}</td>
        <td>{{f.fecha}}</td>
        <td>{{f.importe}}</td>
        <td>{{f.importeFactura}}</td>
        <td>{{f.importeIRPF}}</td>
        <td>{{f.importeIVA}}</td>
      </tr>
    </table>
  </div>
</div>