<nav class="navbar is-light">
  <div class="navbar-brand">
    <div class="navbar-burger burger" data-target="navMenuColorlight-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuColorlight-example" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" routerLink="/">
          Data
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" (click)="downloadJson()">
            Download JSON
          </a>
          <a class="navbar-item" (click)="downloadEncrypt()">
            Download Encrypted
          </a>
          <a class="navbar-item" routerLink="/upload">
            Upload
          </a>  
        </div>
      </div>
    </div>
    <div class="navbar-end">
        <a class="navbar-item" routerLink="/config">
          Config
        </a>
    </div>
  </div>
</nav>